:root {
    --primary-color: #24242F; /* lichtste primaire kleur */
    --secondary-color: #20202A; /* donkerder blauw secundaire kleur */
    --accent-color: #F7C442; /* Gele accentkleur */
    --border-color: #1E1E29; /* border */
    --text-color: white;
}

.form-contactpagina {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactpage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.contact {
    background-color: var(--secondary-color);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    max-width: 500px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
}


h1 {
    text-align: center;
    color: var(--accent-color);
    margin-bottom: 20px;
}

p {
    text-align: center;
    color: var(--text-color);
    font-size: 14px;
}

.form-contactpagina {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-contactpagina__inputelement {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

input,
textarea {
    padding: 10px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    outline: none;
}

textarea {
    width: 100%;
    padding: 18px;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-size: 16px;
    resize: vertical;
    outline: none;
}

    textarea:focus {
        border-color: var(--accent-color);
        box-shadow: 0 0 5px var(--primary-color);
    }

    input:focus,
    textarea:focus {
        border-color: var(--accent-color);
    }

        input:focus:user-invalid,
        textarea:focus:user-invalid {
            border-color: red;
        }

    input:user-invalid,
    textarea:user-invalid {
        border-color: red;
    }

    input:focus:invalid,
    textarea:focus:invalid {
        border-color: red;
    }

input[type="submit"] {
    padding: 10px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

    input[type="submit"]:hover {
        opacity: 0.8;
    }


input:is(:-webkit-autofill, :autofill) {
    background-color: var(--secondary-color);
}

.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 4px solid #FFF;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

    .loader::after {
        content: '';
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        border-bottom: 4px solid var(--accent-color);
        border-left: 4px solid transparent;
    }

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
