:root {
    --primary-color: #24242F; /* lichtste primaire kleur */
    --secondary-color: #20202A; /* donkerder blauw secundaire kleur */
    --accent-color: #F7C442; /* Gele accentkleur */
    --border-color: #1E1E29; /* border */
    --text-color: white;
    --beginner: 25%;
    --average: 50%;
    --intermediate: 75%;
    --expert: 100%;
}
.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    color: var(--text-color);
}

.personalia {
    max-width: 600px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--border-color);
}

.experiences {
    max-width: 700px;
    align-items: center;
    display: flex;
    background-color: var(--secondary-color);
    width: 100%;
    flex-direction: column;
    border: 4px solid var(--border-color);
}

.skills {
    background-color: var(--secondary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid var(--border-color);
}

.skillbar_container {
    position: relative;
    height: 10px;
    max-width:400px;
    width: 100%;
    background-color: #191923;
    border-radius: 15px;
    margin-bottom: 20px;
}

    .skillbar_container::after {
        content: attr(skill-level);
        position: absolute;
        top: -20px;
        right: 5px;
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

.skillcontent_header {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
}

.skillbar {
    height: 100%;
    border-radius: 15px;
    background-color: var(--accent-color);
    position: relative;
}

.skillbar_percentage.beginner {
    --percentage: var(--beginner);
}

.skillbar_percentage.average {
    --percentage: var(--average);
}

.skillbar_percentage.intermediate {
    --percentage: var(--intermediate);
}

.skillbar_percentage.expert {
    --percentage: var(--expert);
}

.skillbar_percentage {
    width: 0%;
    animation: skillbaranimation 3s forwards;
}

@keyframes skillbaranimation {
    from {
        width: 0%;
    }

    to {
        width: var(--percentage);
    }
}

.person-logo {
    border: 2px solid;
    border-color: var(--accent-color);
    border-radius: 50%;
    margin: 10px 0px 10px 0px;
    width: 25%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__description {
    margin: 0px 15px 0px 15px;
}

.custom-line--skinny {
    width: 95%;
    height: 2px;
    background-color: dimgray;
    display: block;
    margin: 10px 0;
}
.profile_content__skills {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    width: 80%;
    align-items: flex-end;
}

.profile-content__category-title {
    color: var(--text-color);
    align-items: center;
}

.profile-content__title {
    color: var(--text-color);
    font-weight: bold;
}

.profile-content__category--hidden-mobile {
    display: flex;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
    margin: 0px;
    color: var(--text-color);
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    margin-left: auto;
    text-align: right;
    color: var(--text-color);
}

.profile-content__institute {
    color: var(--accent-color);
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) {
    .skills {
        width: 49.7%;
    }

    .page {
        flex-direction: row;
    }

    .profile-content__institute {
        font-size: 14px;
    }

    .profile-content__title {
        font-size: 18px;
    }

    .profile_content__skills {
        font-size: 14px;
    }

    .person-name {
        order: -1;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        .profile-content__category--hidden-mobile hr {
            width: 100%;
            color: grey;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 0px;
        color: var(--text-color);
    }

    .profile-content__period {
        font-size: 12px;
        color: var(--text-color);
        display: flex;
    }
}
