/*mobile version*/

.page {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    color: #eaeaea;
}

.personalia { /*linkervak*/
    background-color: #2b3137;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px;
    border-radius: 15px 0px 0px 15px;
    border-color: white;
}

.person-logo {
    border: 2px solid white;
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
    width: 20%;
    animation: glow 3s ease alternate;
}

.profile-content {
    padding: 15px;
    font-size: 20px;
}

.profile-content__description {
    margin: 0px 15px 0px 15px;
}


.profile-content__circle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 95%; 
}


.experiences { /*rechtervak*/
    background-color: #2b3137;
    width: 100%;
    border: 2px;
    border-radius: 0px 15px 15px 0px;
    border-left: 2px ridge white;
}


.profile-content__category-title { /*titels*/
    color: #eaeaea;
}

.profile-content__category--hidden-mobile {
    display: none;
}

.profile-content__element {
    display: flex;
    flex-direction: column;
}

.profile-content__element--hidden-mobile {
    display: flex;
    flex-direction: column;
    display: none;
}

.profile-content__title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 6px;
}

.profile-content__period {
    display: none;
}

.profile-content__institute {
    color: white;
    margin-top: 0px;
    font-size: 14px;
}

@media only screen and (min-width: 800px) { /*periodes*/

    .page {
        flex-direction: row;
    }

    .person-name {
        order: -1;
    }

    .profile-content__category--hidden-mobile {
        display: flex;
        flex-direction: column;
    }

        /*fix: anders als stipje zichtbaar*/
        .profile-content__category--hidden-mobile hr {
            width: 100%;
        }

    .profile-content__element--hidden-mobile {
        display: flex;
    }

    .profile-content__element-header {
        display: flex;
        justify-content: space-between;
        color: #0094ff;
    }

    .profile-content__period {
        font-size: 12px;
        color: #ffffff;
        display: flex;
    }
}


/*student uitwerking*/
