@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h1 class="person-name">Kollin Smits</h1>

        <div class="profile-content__category--hidden-mobile">
            <h3 class="profile-content__category-title">About Me</h3>
            <hr>
        </div>

        <div class="profile-content__element--hidden-mobile">
            <div class="profile-content__element-header">
            </div>
            <p class="profile-content__description">
                Hi! I'm Kollin Smits, a student at Windesheim Zwolle.
                I'm eager to learn, driven, and always looking for new challenges to expand my knowledge and skills.
                On this website, I share my experience and projects. Feel free to reach out if you'd like to know more!
            <p>
        </div>

        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Skills</h3>
            <hr>
        </div>

        <div class="profile-content__circle">
            <svg viewBox="0 0 100 100" width="10" height="10"><circle cx="50" cy="50" r="50" fill="red" /></svg>
            <svg viewBox="0 0 100 100" width="10" height="10"><circle cx="50" cy="50" r="50" fill="blue" /></svg>
            <svg viewBox="0 0 100 100" width="10" height="10"><circle cx="50" cy="50" r="50" fill="green" /></svg>
        </div>

    </section>

    <section class="experiences">

        <section class="profile-content">

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Experiences</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">Restaurant staff</h4>
                    <p class="profile-content__period">august 2023 - jan 2025</p>
                </div>
                <p class="profile-content__institute">Catering industry, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">bread department</h4>
                    <p class="profile-content__period"> march 2022 - may 2023</p>
                </div>
                <p class="profile-content__institute">Supermarket, Zwolle</p>
            </div>
        </section>

    </section>
</div>
