@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="images/person-pasfoto.png">
        <h2 class="person-name">Kollin Smits</h2>

        <div class="profile-content__category--hidden-mobile">
            <h3 class="profile-content__category-title">About Me</h3>
            <hr>
        </div>

        <div class="profile-content__element--hidden-mobile">
            <div class="profile-content__element-header">
            </div>
            <p class="profile-content__description">
                Hi! I'm Kollin Smits, a student at Windesheim Zwolle.
                I'm eager to learn, driven, and always looking for new challenges to expand my knowledge and skills.
                On this website, I share my experience and projects. Feel free to reach out if you'd like to know more!
            <p>
        </div>

    </section>

    <section class="skills">
        <div class="profile-content__category">
            <h3 class="profile-content__category-title">Skills</h3>
        </div>

        <div class="profile-content__element">
            <div class="profile-content__element-header">
                <h4 class="profile-content__title">Hard skills </h4>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">Scrum</div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Expert">
                <div class="skillbar skillbar_percentage" style="width:90%;"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">PHP</div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">Java </div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">CSS </div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">HTML </div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">GIT </div>
                <div class="profile-content__period">since 2023</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">C++</div>
                <div class="profile-content__period">since 2024</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">C# </div>
                <div class="profile-content__period">since 2024</div>
            </div>
            <div class="skillbar_container" skill-level="Intermediate">
                <div class="skillbar skillbar_percentage"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">Javascript </div>
                <div class="profile-content__period">since 2025</div>
            </div>
            <div class="skillbar_container" skill-level="Beginner">
                <div class="skillbar skillbar_percentage" style="width:33%;"></div>
            </div>

            <div class="profile-content__element-header">
                <div class="profile-content__skills">Typescript </div>
                <div class="profile-content__period">since 2025</div>
            </div>
            <div class="skillbar_container" skill-level="Beginner">
                <div class="skillbar skillbar_percentage" style="width:33%;"></div>
            </div>
        </div>

        <div class="profile-content__element">
            <div class="profile-content__element-header">
                <h4 class="profile-content__title">Soft skills </h4>
            </div>
            <p class="profile-content__skills">Communication, Flexible workstyle, Time management, Decision making</p>
        </div>
    </section>
</div>
    



<section class="experiences">
    <div class="profile-content__category">
        <h3 class="profile-content__category-title">Experiences</h3>
        <hr>
    </div>

    <div class="profile-content__element">
        <div class="profile-content__element-header">
            <h4 class="profile-content__title">Restaurant staff</h4>
            <p class="profile-content__period">august 2023 - jan 2025</p>
        </div>
        <p class="profile-content__institute">Catering industry, Zwolle</p>
    </div>

    <div class="profile-content__element">
        <div class="profile-content__element-header">
            <h4 class="profile-content__title">bread department</h4>
            <p class="profile-content__period"> march 2022 - may 2023</p>
        </div>
        <p class="profile-content__institute">Supermarket, Zwolle</p>
    </div>

</section>
